.main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: rgb(240, 239, 239); 
  }
  .sub-main{
    display: flex;
    justify-content:center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px rgb(207,207,207);
    padding-top: 30px;
    border-radius: 60px;
    background-color: white;
  }
  
  .img{
    padding-top: 20px;
    justify-content: center;
    display: flex;
  }
  
  .container.image{
    background-color: rgb(223,221,221);
    border-radius: 150px;
    align-items: center;
    display: flex;
    height: 115px;
    width: 1155px;
  }
  
  .login{
    height: 100px;
    width: 100px;
    border-radius: 130px;
  }
  
  input{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    background-color: #fff;
  }
  
  .username{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
  }
  
  .name{
    padding-left: 70px;
    font-size: 20px;
  }
  
  .second-input{
    padding-top: 20px;
  }
  
  .button{
    width: 270px;
    height: 50px;
    border-radius: 10px;
    background-color: #1a0aad;
    color: white;
    font-size: 25px;
    border: none;
    
    
  }
  
  .login-button{
    padding-top:20px;
  }
  
  .link{
    font-size: 15px;
    font-weight: 400px;
  }
  
  a{
    color: #0d045ee5;
  }

  a.px-btn-theme{
          color: rgb(244, 242, 242);
  }
  
  