.box1 {
	height: auto ;
    width: 600px ;        
	border: 3px solid black ;
	background-color: rgb(136, 125, 125) ;
}

.box2 {
	height: auto ;
    width: 800px ;        
	border: 3px solid black ;
	background-color: rgb(136, 125, 125) ;
}

.table {
    border: 1px solid black ;
    background-color: white;
}

th {
    height: 35px ;
}